@model ClientViewModel

<div id="clientMainInfo" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="/Client/_EditPartial/?clientId=@Model.Id" class="glyphicon glyphicon-edit" style="float:right;"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#clientMainInfo"></a>
            <a href="#clientMainInfo_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Основная информация</a>
        </div>
    </div>
    <div id="clientMainInfo_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="ClientId" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.ClientId
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProtocolType" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.ProtocolType
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RequireClientSecret" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input type="checkbox" asp-for="RequireClientSecret" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClientName" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.ClientName
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClientUri" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.ClientUri
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LogoUri" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.LogoUri
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RequireConsent" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input type="checkbox" asp-for="RequireConsent" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RequirePkce" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="RequirePkce" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AllowPlainTextPkce" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="AllowPlainTextPkce" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AllowAccessTokensViaBrowser" class="col-md-3 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="AllowAccessTokensViaBrowser" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LogoutUri" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.LogoutUri
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LogoutSessionRequired" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="LogoutSessionRequired" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AllowOfflineAccess" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="AllowOfflineAccess" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AlwaysIncludeUserClaimsInIdToken" class="col-md-3 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="AlwaysIncludeUserClaimsInIdToken" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IdentityTokenLifetime" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.IdentityTokenLifetime
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AccessTokenLifetime" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.AccessTokenLifetime
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorizationCodeLifetime" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.AuthorizationCodeLifetime
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AbsoluteRefreshTokenLifetime" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.AbsoluteRefreshTokenLifetime
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SlidingRefreshTokenLifetime" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.SlidingRefreshTokenLifetime
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RefreshTokenUsage" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.RefreshTokenUsage
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateAccessTokenClaimsOnRefresh" class="col-md-3 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="UpdateAccessTokenClaimsOnRefresh" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RefreshTokenExpiration" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.RefreshTokenExpiration
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AccessTokenType" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.AccessTokenType
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EnableLocalLogin" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="EnableLocalLogin" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IncludeJwtId" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="IncludeJwtId" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AlwaysSendClientClaims" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="AlwaysSendClientClaims" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PrefixClientClaims" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="PrefixClientClaims" type="checkbox" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Enabled" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="Enabled" type="checkbox" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>