@model List<MethodViewModel>
@using MySql.AspNet.Identity;
@{
    string roleId = ViewBag.RoleId;
}
@if (Model.Count() > 0)
{
    foreach (MethodViewModel method in Model)
    {
        <div class="col-md-12">
            <label>
                <input type="checkbox" value="@method.Id" name="SelectedLocalPartition" class="SelectedLocalPartition" onchange="ChangeCheckLocalPartition(this, '@method.Controller', '@method.Method')" @(method.Checked ? "checked" : string.Empty )>
                @method.Name
            </label>
        </div>
    }
}