@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Регистрация.</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    @for (int i = 0; i < Model.RegisterClaimsInputModel.Count; i++)
    {
        <div class="form-group">
            <label asp-for="@Model.RegisterClaimsInputModel[i].ClaimValue" class="col-md-2 control-label">@Model.RegisterClaimsInputModel[i].AttributeName</label>
            <div class="col-md-10">
                <input asp-for="@Model.RegisterClaimsInputModel[i].ClaimValue" class="form-control" />
                <span asp-validation-for="@Model.RegisterClaimsInputModel[i].ClaimValue" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.RegisterClaimsInputModel[i].ClaimId" />
            <input type="hidden" asp-for="@Model.RegisterClaimsInputModel[i].AttributeName" />
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div id="recaptcha" data-sitekey="6LfUZC8UAAAAAGvvJzJvj_Oh7-PdNw20_F5mIPUV"></div>
            <span class="text-danger" id="recaptchaErrorMessage"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Зарегестрироваться</button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
   <script type="text/javascript">
        $('input').blur(function () {
            var empty_counter = 0;
            $('input[type!="hidden"]').each(function (index, element) {
                if (!$(element).val()) {
                    empty_counter++;
                }
            });
            if (empty_counter == 0) {
                var recaptcha = $("#recaptcha");
                if (!recaptcha.hasClass('.g-recaptcha')) {
                    recaptcha.addClass('.g-recaptcha');
                    var key = recaptcha.attr('data-sitekey')
                    grecaptcha.render(
                        'recaptcha',
                        {
                            'sitekey': key
                        }
                    )
                }
            }
        });
</script>

}