@model RoleViewModel
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Детальная информация роли \"" + Model.Name + "\"";
    List<ObjectEndpointPermition> permissionsByRole = ViewBag.permissionsByRole as List<ObjectEndpointPermition>;

    List<MySql.AspNet.Identity.Object> Objects = ViewBag.Objects as List<MySql.AspNet.Identity.Object>;
    List<ObjectEndpoint> objectEndpoints = ViewBag.objectEndpoints as List<ObjectEndpoint>;
    List<ObjectEndpointPermitionViewModel> objectEndpointPermissions = ViewBag.objectEndpointPermissions as List<ObjectEndpointPermitionViewModel>;
}

<h4>
    <a href="/Role/List">Список ролей</a>
</h4>
<hr />
<h3 class="page-header">
    @ViewData["Title"]
</h3>
@{
    ViewDataDictionary resourceDictionary = new ViewDataDictionary(this.ViewData) { { "RoleId", Model.Id },
                                                                                    { "RolePermissionData", "/Role/RolePermissionData?roleId=" + Model.Id },
                                                                                    { "RoleUserData", "/Role/UsersData/?roleId=" + Model.Id + "&inRole=true" },
                                                                                    { "RoleLocalPartitionData", "/Role/RoleLocalPartitionData?roleId=" + Model.Id },
                                                                                    { "UserData", "/Role/UsersData" }
                                                                                  };
}
@Html.Partial("_DetailsPartial", Model)
@Html.Partial("_RolePermissionListPartial", null, resourceDictionary)
@Html.Partial("_GroupListPartial", Model.Groups, resourceDictionary)
@Html.Partial("_UserListPartial", Model.Users, resourceDictionary)
@Html.Partial("_RoleLocalPartitionListPartial", Model.Controllers, resourceDictionary)
@Html.Partial("_UserSelectModal", null, resourceDictionary)


@section Scripts{
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/css/tree.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/project/project_view_scripts.js"></script>
    <script src="~/project/role_permission_scripts.js"></script>
}