@model List<PermissionViewModel>
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Выбор разрешений для роли";
    List<ObjectEndpointPermition> permissions = ViewBag.permissionsByRole as List<ObjectEndpointPermition>;

    List<MySql.AspNet.Identity.Object> objects = ViewBag.Objects as List<MySql.AspNet.Identity.Object>;
    List<ObjectEndpoint> objectEndpoints = ViewBag.objectEndpoints as List<ObjectEndpoint>;
    List<ObjectEndpointPermitionViewModel> objectEndpointPermissions = ViewBag.objectEndpointPermissions as List<ObjectEndpointPermitionViewModel>;

    string checked_ = "";
}

<h4><a href="/Role/List">Список ролей</a></h4>
<hr />
<h3 class="page-header">@ViewData["Title"]</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Основная информация
        </h3>
    </div>

    <form asp-controller="Role" asp-action="RolePermissionList" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" name="RoleId" value="@ViewData["roleId"]" />
            <div class="panel-body">
                <ul class="p-has-headers">

                    @if (objects != null && objects.Count > 0)
                    {
                        foreach (MySql.AspNet.Identity.Object _object in objects)
                        {
                            <li name="groupsDetails">
                                <h4 class="header"><a href="/Object/Details?objectId=@_object.Id">@_object.Name</a></h4>

                                <ul class="p-has-headers">
                                    @foreach (ObjectEndpoint objectEndpoint in objectEndpoints)
                                    {
                                        if (objectEndpoint.ObjectId.Equals(_object.Id))
                                        {
                                            <li name="groupsDetails">
                                                <h4 class="header">@objectEndpoint.Value</h4>

                                                <ul class="p-has-headers">
                                                    @foreach (ObjectEndpointPermitionViewModel objectEndpointPermission in objectEndpointPermissions)
                                                    {
                                                        if (objectEndpointPermission.ObjectEndpointId.Equals(objectEndpoint.Id))
                                                        {
                                                            checked_ = "";
                                                            @foreach (ObjectEndpointPermition permissionsByRole in permissions)
                                                            {
                                                                if (objectEndpointPermission.Id.Equals(permissionsByRole.Id))
                                                                {
                                                                    checked_ = "checked";
                                                                }
                                                            }
                                                            <li name="groupsDetails">
                                                                <label><input type="checkbox" value="@objectEndpointPermission.Id" name="SelectedPermissions" @checked_></label>&nbsp;@objectEndpointPermission.PermissionName
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                    else
                    {
                        <li>Список пуст</li>
                    }


                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success">Сохранить&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
            <a href="/Role/List/" class="btn btn-default" style="float:right">Отмена&nbsp;<span class="glyphicon glyphicon-ban-circle"></span></a>
        </div>
    </form>
</div>

@section Scripts{
    <link href="~/css/tree.css" rel="stylesheet" />
    <script src="~/project/role_scripts.js"></script>
}
